:root {
    --primary-color: #1950f8;
    --primary-color-d: #061238;
    --primary-color-d-o: rgba(6, 18, 56, 0.5);
    --primary-color-l: #6389F9;
    --primary-color-d-text: #ffffff;

    --dark-l: #121212;
    --transition: 0.2s;
    --border-radius: 4px;
    --header-height: 60px;
    --main-gap: 40px;
}
@font-face {
    font-family: "SUIT-Regular";
    src: url("./assets/font/SUIT-Regular.woff2");
}
@font-face {
    font-family: "SUIT-Bold";
    src: url("./assets/font/SUIT-Bold.woff2");
}
@font-face {
    font-family: "SUIT-Light";
    src: url("./assets/font/SUIT-Light.woff2");
}
@font-face {
    font-family: "SUIT-Medium";
    src: url("./assets/font/SUIT-Medium.woff2");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #ffffff;
    overflow-y: auto;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    all: unset;
    cursor: pointer;
}
a {
    all: unset;
}
input {
    all: unset;
}
h1, h2, h3, h4, h5, h6, p, span, button, input, select, a {
    font-family: 'SUIT-Regular';
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#root {
    height: 100%;
}
.headline {
    font-family: 'SUIT-Medium';
    font-size: 34px;
    letter-spacing: 0.25px;
}
.title {
    font-family: 'SUIT-Meidum';
    font-size: 20px;
    letter-spacing: 0.15px;
}
.subTitle {
    font-family: 'SUIT-Regular';
    font-size: 16px;
    letter-spacing: 0.15px;
}
.smallTitle {
    font-family: 'SUIT-Medium';
    font-size: 14px;
    letter-spacing: 0.1px;
}
.buttonText {
    font-family: 'SUIT-Medium';
    font-size: 16px;
    letter-spacing: 1.25px;
}
.normalText {
    font-family: 'SUIT-Regular';
    font-size: 14px;
}
.inputText {
    font-family: 'SUIT-Medium';
    font-size: 16px;
    letter-spacing: 0.1px;
}
.underline {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}
.scroll {
    overflow-y: auto;
}
.scroll::-webkit-scrollbar {
    width: 3px;
    background: var(--dark-l);
    border-radius: var(--border-radius);
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--border-radius);
}

.m0 { margin: 0px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }

.mt0 { margin-top: 0px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }

.mb0 { margin-bottom: 0px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }

.ml0 { margin-left: 0px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }

.mr0 { margin-right: 0px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }