@font-face {
    font-family: "SUIT-Regular";
    src: url("./assets/font/SUIT-Regular.woff2");
}
@font-face {
    font-family: "SUIT-Bold";
    src: url("./assets/font/SUIT-Bold.woff2");
}
@font-face {
    font-family: "SUIT-Light";
    src: url("./assets/font/SUIT-Light.woff2");
}
@font-face {
    font-family: "SUIT-Medium";
    src: url("./assets/font/SUIT-Medium.woff2");
}

.test {
    font-family: 'SUIT-Bold';
}